src/main/mule/messagestructure4-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="01265d5a-b73a-4075-bfa2-b28f5c76cd77" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="messagestructure4-apiFlow" doc:id="85151457-70c8-4965-b04e-8a8406467db9" >
		<http:listener doc:name="Listener" doc:id="dca3ec96-099b-4c83-befc-7eacd3814bca" config-ref="HTTP_Listener_config" path="/structure"/>
		<set-payload value="#[attributes.scheme]" doc:name="Set Payload" doc:id="8c0e1914-26d5-432f-9e8f-2c23cd096447" />
		<ee:transform doc:name="Transform Message" doc:id="2c8a0c64-fefb-4bc8-ac9c-a62572e24e1d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="097ced3c-c313-42d0-8a4f-c55d605de635" message="hi"/>
		<logger level="INFO" doc:name="Logger" doc:id="2dd0cef0-47fa-49c1-bf2e-00943003500f" message="hello"/>
	</flow>
</mule>
